body {
    font-family: sans-serif;
    width: 200px;
    height: 170px;
}

#wrapper {
    height: 50px;
    margin: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.input {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
label {
    text-align: start;
}
.button {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0 5px;
}
.btn-basic {
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}